@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
header{
    grid-area: header;
    display: flex;
   background-color: rgb(0, 0, 0);
    height: 15vh;   
    flex-wrap: wrap;
} 
header > h1{
    margin-top: 40px;
    margin-left: -50px;
    font-family: sans-serif;
    color: white;
}
header > img{
    margin: 0 50px;
    width: 15%;
    height: 150px;
    margin-left: 20px;

}
nav ul li a{
    text-decoration: none;
    justify-content: space-between ;
    text-align: right;
    color: rgb(255, 255, 255);
}
nav ul li{
    display: inline-block;
    margin: 0 70px;
    text-align: right;
    position: relative;
    left: 300px;
    top: 40px;
    margin-left: -45px;
}
main{
   padding: 30px;
   padding-top: 80px;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main > h1{
    font-family: 'Unbounded', cursive;
    font-size: 50px;
    margin-bottom: 30px;
}
main > p{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
main > section > div{
    height: 400px;
    width: 400px;
   cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: flex-end;
    padding: 30px;
   
}
main > section {
    margin-top: 50px;
    display: flex;
    padding: 10px;
}
main > section > div:nth-child(1){
    background-image: url("images/sarı\ araba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main > section > div:nth-child(2){
    background-image: url("images/kırmızı\ araba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main > section > div:nth-child(3){
    background-image: url("images/kırmızı\ far.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main > section > div:hover{
    height: 410px;
    width: 410px;
}
main > section > div > h4{
    color: white;
    font-family: 'Kanit', sans-serif;    
    font-size: 30px;   
   
}