*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-rows: 120px 1fr auto;
    gap: 25px;

}

header{
    grid-area: header;
    display: flex;
    background-color: black;
        
} 
header > h1{
    color: white;
    margin-top: 40px;
    margin-left: -50px;
    font-family: sans-serif;
}
header > img{
    margin: 0 50px;
    width: 15%;
    height: 150px;
    margin-left: 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    justify-content: space-between ;
    text-align: right;
    
}
nav ul li{
    display: inline-block;
    margin: 0 70px;
    text-align: right;
    position: relative;
    left: 300px;
    top: 40px;
    margin-left: -45px;}